BilManCampRest/WebContent/wsdl/SellingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://selling.bilmancamp.rmirest.upem.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://selling.bilmancamp.rmirest.upem.fr" xmlns:intf="http://selling.bilmancamp.rmirest.upem.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://selling.bilmancamp.rmirest.upem.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="change">
    <complexType>
     <sequence>
      <element name="currencyFrom" type="xsd:string"/>
      <element name="currencyTo" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeResponse">
    <complexType>
     <sequence>
      <element name="changeReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBook">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="password" type="xsd:string"/>
      <element name="price" type="xsd:double"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBookResponse">
    <complexType>
     <sequence>
      <element name="sellBookReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sellBookResponse">

      <wsdl:part element="impl:sellBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeResponse">

      <wsdl:part element="impl:changeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBookRequest">

      <wsdl:part element="impl:sellBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeRequest">

      <wsdl:part element="impl:change" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SellingService">

      <wsdl:operation name="change">

         <wsdl:input message="impl:changeRequest" name="changeRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeResponse" name="changeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBook">

         <wsdl:input message="impl:sellBookRequest" name="sellBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:sellBookResponse" name="sellBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SellingServiceSoapBinding" type="impl:SellingService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="change">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sellBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sellBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SellingServiceService">

      <wsdl:port binding="impl:SellingServiceSoapBinding" name="SellingService">

         <wsdlsoap:address location="http://localhost:8080/BilManCampRest/services/SellingService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
