Server-WebServices/WebContent/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bank.bilmancamp.rmirest.upem.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bank.bilmancamp.rmirest.upem.fr" xmlns:intf="http://bank.bilmancamp.rmirest.upem.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bank.bilmancamp.rmirest.upem.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="change">
    <complexType>
     <sequence>
      <element name="currencyFrom" type="xsd:string"/>
      <element name="currencyTo" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeResponse">
    <complexType>
     <sequence>
      <element name="changeReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="balance">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="password" type="xsd:string"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="balanceResponse">
    <complexType>
     <sequence>
      <element name="balanceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="withdraw">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="password" type="xsd:string"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="withdrawResponse">
    <complexType>
     <sequence>
      <element name="withdrawReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="currency" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deposit">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="password" type="xsd:string"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositResponse">
    <complexType>
     <sequence>
      <element name="depositReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="balanceRequest">

      <wsdl:part element="impl:balance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="withdrawRequest">

      <wsdl:part element="impl:withdraw" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeRequest">

      <wsdl:part element="impl:change" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="withdrawResponse">

      <wsdl:part element="impl:withdrawResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeResponse">

      <wsdl:part element="impl:changeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositResponse">

      <wsdl:part element="impl:depositResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="balanceResponse">

      <wsdl:part element="impl:balanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositRequest">

      <wsdl:part element="impl:deposit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="change">

         <wsdl:input message="impl:changeRequest" name="changeRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeResponse" name="changeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="balance">

         <wsdl:input message="impl:balanceRequest" name="balanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:balanceResponse" name="balanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="withdraw">

         <wsdl:input message="impl:withdrawRequest" name="withdrawRequest">

       </wsdl:input>

         <wsdl:output message="impl:withdrawResponse" name="withdrawResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deposit">

         <wsdl:input message="impl:depositRequest" name="depositRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositResponse" name="depositResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="change">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="balance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="balanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="balanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="withdraw">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="withdrawRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="withdrawResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deposit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/BilManCampRest/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
